header { padding: 10px 0 10px 0; }

div#content-wrapper div.inner, div#content-wrapper div.inner section#main-content { width: 100%; }

div#content-wrapper div.inner.clearfix section#main-content > table { width: 100%; }


div#content-wrapper div.inner.clearfix section#main-content > table td.half { width: 45%; }


td.output {
    width: 50%;
    vertical-align: top;
    text-align: left;
    max-width: 50%;
}

td.render {
    width: 50%;
    vertical-align: top;
    text-align: left;
}

textarea {
    width: 95%;
    height: 300px;
}